<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="layout">
        <!-- LEFT SIDEBAR -->
        <aside class="sidebar">
            <nav class="nav-icons">
                <a href="{{ url_for('main.index') }}" title="Home">
                    <p>Home</p>
                </a>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('pal.add_post') }}" title="New">
                        <p>Create</p>
                    </a>
                    <a href="{{ url_for('pal.reserved') }}">
                        <p>Reserves</p>
                    </a>
                        <a href="{{ url_for('auth.logout') }}" title="Logout">
                    <p>Logout</p>
                    </a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" title="Login">
                    <p>Login</p>
                    </a>
                        <a href="{{ url_for('auth.signup') }}" title="Signup">
                    <p>Signup</p>
                </a>

                {% endif %}
            </nav>
        </aside>

        <main class="main-content">
            {% block body %}
            {% endblock %}
        </main>
    </div>
    
</main>
    
</body>
</html>