<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="nav-inner">
                <ul>
                    <li>Home</li>
                    <li>Profile</li>
                </ul>
            </div>
            
    </nav>
    </header>
    
    {% block body %}
    {% endblock %}
</body>
</html>