{% extends 'base.html' %}

{% block body %}
  <!-- MAIN CONTENT -->
    {% for post in posts %}
    <a href="{{ url_for('pal.post', post_id=post._id)}}" class="post-link">
    <article class="post-card">
      <header class="post-header">
        <h2>{{ post.assignment }}</h2>
        <p><strong>Class:</strong> {{ post.class }}</p>
      </header>

      <div class="post-details">
        <p><strong>Posted by:</strong> {{ post.name }}</p>
        <p><strong>Email:</strong> {{ post.email }}</p>
        <p><strong>Date:</strong> {{ post['start-date'] }} at {{ post['start-time']}}</p>
        <p><strong>Needed:</strong> {{ post.pals }} pals</p>
      </div>

      <div class="post-desc">
        <h4>Description:</h4>
        <p>{{ post.description }}</p>
      </div>

      <footer class="post-actions">
        {% if current_user.is_authenticated %}
          
        {% endif %}
      </footer>
    </article>
    </a>
    {% endfor %}
{% endblock %}


