{% extends 'base.html' %}

{% block body %}
    <a href="{{ url_for('main.index') }}">Home</a>
    {% if current_user.id == post.user_id|string %}
        <form action="{{url_for('pal.delete_post', post_id=post._id) }}" method="POST">
            <button type="submit">delete</button>
        </form>
        <a href="{{ url_for('pal.edit_post', post_id=post._id) }}"><button>edit</button></a>

    {% else %}
        <form action="{{url_for('pal.reserve', post_id=post._id)}}" method="POST">
            <button type="submit">reserve</button>
        </form>
    {% endif %}
    
    <div class="post">
        {{post.name}}
        {{post.email}}
        {{post.assignment}}
        {{post.description}}
        {{post.class}}
        {{post.pals}}
    </div>
{% endblock %}