{% extends 'base.html' %}

{% block body %}
    <main>
        <form method="POST" action="{{ url_for('pal.edit_post', post_id=post._id)}}">
            <label for="assignment">Assignment</label>
            <input type="text" value="{{assignment}}" required/>
            <label for="description">Description</label>
            <textarea>desc</textarea>
            <label for="class">Class</label>
            <input type="text" value="{{class_name}}" required/>
            <label for="date">Date</label>
            <input type="date" value="{{date}}" required/>
            <label for="time">Time</label>
            <input type="time" value="{{time}}" required/>
            <label for="pals">Pals</label>
            <input type="number" value="{{pals}}" required/>
        </form>
    </main>
{% endblock %}