{% extends 'base.html' %}

{% block body %}
<main>
    <form method="POST" action="{{url_for('auth.signup')}}">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name"/>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name"/>
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <label for="college">College</label>
        <select id="college" name="college" required>
            <option value="" disabled selected>Select your college</option>
            {% for campus in csu_campuses %}
                <option value="{{ campus }}">{{ campus }} </option>
            {% endfor %}
        </select>
        <button type="submit">submit</button>
    </form>
</main>
{% endblock %}
