{% extends 'base.html' %}

{% block body %}
<div class="form-container">
    <h2 class="form-header">Sign Up</h2>
    <form method="POST" action="{{url_for('auth.signup')}}">
        <fieldset>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" required/>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" required/>
            <label for="email">Email</label>
            <input type="email" name="email" required/>
            <label for="password">Password</label>
            <input type="password" name="password" required/>
            <label for="college">College</label>
            <select id="college" name="college" required>
                <option value="" disabled selected>Select your college</option>
                {% for campus in csu_campuses %}
                    <option value="{{ campus }}">{{ campus }} </option>
                {% endfor %}
            </select>
            <button type="submit" class="form-btn">submit</button>
        </fieldset>
        
    </form>
</div>
    
{% endblock %}
