*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  color: #222;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 150px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-icons a{
    text-decoration: none;
}

.nav-icons a p{
    font-size: 1.2rem;
    color: #A9E573;
}

.nav-icons a:hover img {
  transform: scale(1.2);
  opacity: .8;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 150px;
  width: 100%;
  padding: 24px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

.post-link{
    text-decoration: none;
    color: black;
}

.post-link:hover{
    opacity: 80%;
}

.post-link:visited{
    color: none;
}

/* POST CARD */
.post-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0,0,0,.08);
  padding: 24px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}


.post-header h2 {
  margin: 0 0 8px;
  font-size: 26px;
  border-bottom: 1px solid #444;
}

.post-details p {
  margin: 6px 0;
  font-size: 15px;
  color: #444;
}

.post-desc {
  margin-top: 18px;
  font-size: 16px;
  line-height: 1.5;
}

/* BUTTONS */
.btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.reserve-btn {
  background: #2a8f2a;
  color: #fff;
}

.form-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #fff; 
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  width: 90%;
  max-width: 400px;       
  z-index: 999; 

}

.form-header{
  text-align: center;
}

fieldset{
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  padding: 1em 2em;
  border: none;
  border-radius: 6px;
  min-width: 200px;
}

fieldset label{
  display: block;
  margin-top: 1em;
  font-size: large;
  font-weight: bold;
}

fieldset label:first-of-type{
  margin-top: 0;
}

.form-btn{
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 100px;
}

input[type=email], input[type=password], input[type=submit], input[type=text]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 1em;
}